{
  "presets": [
    "es2015", 
    "react"
  ],

  "plugins": [
    "syntax-decorators"
  ],

  "env": {
  // TODO: Uncomment when Babel-Plugin-React-Transform ready for Babel 6
    /*"development": {*/
      /*"plugins": ["react-transform"],*/
      /*"extra": {*/
        /*"react-transform": {*/
          /*"transforms": [{*/
            /*"transform": "react-transform-hmr",*/
            /*"transform": "react-transform-catch-errors",*/
            /*"imports": ["react"],*/
            /*"locals": ["module"]*/
          /*}]*/
        /*}*/
      /*}*/
    /*}*/
  }
}
