@import '../variables.scss';

.dashboard-list--item {
  border: 1px solid $grey-light-2;
  margin: $space/2;
  padding: $space/2;
  box-shadow: 0 5px 5px -5px $grey;

  p {
    padding: 0;
  }
}

.dashboard-list--title {
  font-size: $font-size-2;
}
